/* another new one */

*{
    margin: 0;
    padding: 0;
}

#expense{
    display: flex;
   justify-content: space-between;
    margin: 50px;
    background-color: black;
    color: white;
    height: 100px;
    width: 90%;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
}
#loan{
    font-size: 20px;
}
#cost{
    font-size: 20px;
    border: 2px solid black;
    padding: 10px;
    background-color: violet;
    color: white;
    border-radius: 10px;
}


@media  only screen and (max-width:600px){
   
    #expense{
        display: flex;
        justify-content: space-between;
        margin: 2px;
        background-color: black;
        color: white;
        height: 40px;
        width: 85%;
        align-items: center;
        padding: 20px;
        border-radius: 10px;
    }
    #loan{
        font-size: 15px;
    }
    #cost{
        font-size: 15px;
        border: 2px solid black;
        padding: 5px;
        background-color: violet;
        color: white;
        border-radius: 10px;
    }   
}
