#filter{
    display: flex;
    justify-content: space-between;
    font-size: 30px;
}
select{
    border-radius: 10px;
    width: 150px;
    text-align: center;
    padding: 20px;
    outline: none;
}
@media  only screen and (max-width:600px){
    #filter{
        display: flex;
        justify-content: space-between;
        font-size: 20px;
    }
    select{
        border-radius: 10px;
        width: 130px;
        text-align: center;
        padding: 10px;
        outline: none;
    }  
}