#expenseform{
    height: 400px;
    width: 900px;
    background-color: violet;
    border-radius: 10px;
    margin-left: 150px;
    text-align: center;
    margin-top: 20px;
}
button{
    margin: 20px;
    margin-top: 40px;
    padding: 20px;
    background-color: black;
    color: white;
    border-radius: 10px;
}
label{
    font-size: 25px;
}
input{
    outline: none;
    border: 2px solid white;
    border-radius: 5px;
    padding: 10px;
}

